<%- include ("../partials/header"); %>

<div class="container">
	
<div class="row">
	
	
<h2 style="text-align: center;">
	 Comment to <strong><%= dish.name %></strong>
</h2>
	<div style="width: 30%; margin: 30px auto;">
		
	
<form action="/dishes/<%=dish._id%>/comments"  method ="POST">
	<div class="form-group">
		<input class="form-control" type="text" name = "comment[text]" placeholder="text">
	</div>
	
		<div class="form-group">
			<button class="btn btn-lg btn-default btn-block btn-primary">
		Submit!
	</button>
	</div>
	
	</form>
		<a href="/dishes">Go back</a>
	</div>
	


		
	</div>
	</div>

<%- include ("../partials/footer"); %>