<%- include ("./partials/header"); %>


<!-- PROFILE CARD ON THE MIDDLE SIDE -->
<div class="row">
	

		<div class="col-md-4 col-xs-12 ">
						<h2 id="profile2" >about me</h2>
				<div id="about" class="card"><p style=" padding-right: 10px">I am a second-year Computer Programming student at Algonquin College.<br><br> My major in school is a Java programming language and its ecosystem. After taking the Web Application Development course in the second semester, I was passionate about the Web front-end design. Thus, I took the online web development Bootcamp as soon as I start my Co-op term besides college's major. This web project is a combination of my knowledge about front-end design and back-end systems. As an ambitious and highly motivated individual, I am looking for an opportunity to demonstrate my capability as well as develop my career in real-world projects in the IT industry.
					</p>
				</div>
					
		</div>

		<div class="col-md-4 col-xs-12 ">
						<h2 id="profile1" style="text-align:center">Hey! I am Chanh Duong</h2>
					<div id="card" class="card">
								 <img id="avatar" src="https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/10325785_10154079827564090_4476311918284610849_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=y9eX0EtKklUAX_ZnGeZ&_nc_ht=scontent.fybz2-2.fna&oh=87612a6a6be77a12d34fb46c8c65b1cc&oe=5F0E604A" alt="Chanh" style="width:100%;">


						 <h3  style= "padding-top: 10px; font-weight: bold;" class="title">Web Front-end Developer</h3>

						  <p style= "padding-top: 20px; font-weight: bold;">Get In Touch</p>
						<div style="margin: 24px 0;"> 
							<a id="c1" href="https://www.linkedin.com/in/vincent-duong-9805b780/"><i class="fa fa-linkedin"></i></a>  <span></span>
							<a id="c3" href="https://github.com/VincentDuong11"><i class="fa fa-github"></i> </a><span></span>
							<a id="c2" href="https://www.facebook.com/chad.duong"><i class="fa fa-facebook"></i></a> 
						</div>
							<p style= "padding-bottom: 10px; font-weight: bold;">Or</p>

							<p style= "padding-top: 10px"><a href="mailto:trungchanh7706@yahoo.com"><button id="contact">Contact</button></a></p>
					</div>
		</div>
	
		<div class="col-md-4 col-xs-12 " >
							<h2 id="profile3" >author's message</h2>
					<div id="message" class="card"><p style=" padding-left: 10px">This website is my first web application project that I dedicated to built from scratch in 3 months.<br><br> I have applied JavaScript, CSS/ Bootstrap, and HTML for the front-end combine with the power of NodeJS, NPM package and MongoDB for the back-end. This website has features such as allow users to register and log-in to their own accounts, GPS location with google API. After log-in, users have the privilege to create/ update/ destroy their posts as well as comments. In addition, users can see and keep track of their post's real-time. This website also supports mobile and tablet view<br><br> Here is the access to my source code on <a href="https://github.com/VincentDuong11/myfinedishes">GitHub</a>.
							</p>
					</div>
						
		</div>
				

</div>

<%- include ("./partials/footer"); %>