<%- include ("./partials/header"); %>


<!-- <div id="row1" class="row">
			<div id="col1" class="col-md-4">
					  <img id="avatar" src="https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/10325785_10154079827564090_4476311918284610849_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=y9eX0EtKklUAX_ZnGeZ&_nc_ht=scontent.fybz2-2.fna&oh=87612a6a6be77a12d34fb46c8c65b1cc&oe=5F0E604A" alt="Chanh" style="width:100%;">
		</div>



	
<div id="col2" class="col-md-8">
			<h2 style="text-align:center">About</h2>

	<div class="card">

		  <p style= "padding-top: 10px" id="title" class="title">My name is <strong>Chanh Duong</strong>, I am currently enrolling Computer Programmer at Algonquin College. Being a second-year student, I have plenty of opportunities to improve my problem-solving abilities and communication skills. I created a web application with JavaScript, Nodejs and HTML/CSS allowing the user to enter their username and password to retrieve profile information or interact with the web app. I have established strong skills in Java, SQL, JavaScript, HTML5, CSS, NodeJS, and MongoDB. This knowledge has enabled me to develop web applications with good user experience and operate both the front-end and back-end technologies. Some of my projects will be listed below (more upon request):
 </p>
			
		  <p style= "padding-top: 10px">Get In Touch</p>
		  <div style="margin: 24px 0;"> 
			<a id="c1" href="https://www.linkedin.com/in/vincent-duong-9805b780/"><i class="fa fa-linkedin"></i></a>  <span></span>
			<a id="c3" href="https://github.com/VincentDuong11"><i class="fa fa-github"></i> </a><span></span>
			<a id="c2" href="https://www.facebook.com/chad.duong"><i class="fa fa-facebook"></i></a> 
			
		  </div>
			<p>Or</p>
			
			<p style= "padding-top: 10px"><a href="mailto:trungchanh7706@yahoo.com"><button id="contact">Contact</button></a></p>
			

	</div>

</div>
 -->



<!-- PROFILE CARD ON THE LEFT SIDE -->

<!-- <div id="row1" class="row">
	<div id="col1" class="col-md-4">

				<h2 id="profile" style="text-align:center">Hey! I am Chanh Duong</h2>

		<div class="card">
					 <img id="avatar" src="https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/10325785_10154079827564090_4476311918284610849_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=y9eX0EtKklUAX_ZnGeZ&_nc_ht=scontent.fybz2-2.fna&oh=87612a6a6be77a12d34fb46c8c65b1cc&oe=5F0E604A" alt="Chanh" style="width:100%;">


			 

			  <p style= "padding-top: 20px">Get In Touch</p>
			<div style="margin: 24px 0;"> 
				<a id="c1" href="https://www.linkedin.com/in/vincent-duong-9805b780/"><i class="fa fa-linkedin"></i></a>  <span></span>
				<a id="c3" href="https://github.com/VincentDuong11"><i class="fa fa-github"></i> </a><span></span>
				<a id="c2" href="https://www.facebook.com/chad.duong"><i class="fa fa-facebook"></i></a> 
			</div>
				<p>Or</p>

				<p style= "padding-top: 10px"><a href="mailto:trungchanh7706@yahoo.com"><button id="contact">Contact</button></a></p>
		</div>

	</div>			

	<div id="col2" class="col-md-8">
		</div>


</div> -->


<!-- PROFILE CARD ON THE MIDDLE SIDE -->



	

				<h2 id="profile" style="text-align:center">Hey! I am Chanh Duong</h2>

		<div class="card">
					 <img id="avatar" src="https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/10325785_10154079827564090_4476311918284610849_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=y9eX0EtKklUAX_ZnGeZ&_nc_ht=scontent.fybz2-2.fna&oh=87612a6a6be77a12d34fb46c8c65b1cc&oe=5F0E604A" alt="Chanh" style="width:100%;">


			 <h3  style= "padding-top: 10px; font-weight: bold;" class="title">Web Front-end Developer</h3>

			  <p style= "padding-top: 20px; font-weight: bold;">Get In Touch</p>
			<div style="margin: 24px 0;"> 
				<a id="c1" href="https://www.linkedin.com/in/vincent-duong-9805b780/"><i class="fa fa-linkedin"></i></a>  <span></span>
				<a id="c3" href="https://github.com/VincentDuong11"><i class="fa fa-github"></i> </a><span></span>
				<a id="c2" href="https://www.facebook.com/chad.duong"><i class="fa fa-facebook"></i></a> 
			</div>
				<p style= "padding-bottom: 10px; font-weight: bold;">Or</p>

				<p style= "padding-top: 10px"><a href="mailto:trungchanh7706@yahoo.com"><button id="contact">Contact</button></a></p>
		</div>

	




<%- include ("./partials/footer"); %>