@media only screen and ( min-width: 600px) and (max-width: 768px) { 
	
	.carousel-inner .item{
		height: 400px !important;
		background-size:cover;
		background-position: center center;		 
	}
	 /* about page */
	#profile2{
		padding: 0 !important;
		margin-top: 0
	} 
	#profile1{
		border-top: 2px solid;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-top: 20px;
	} 
	#profile3{
		border-top: 2px solid;
		padding-top: 20px;
		padding-bottom: 10px;
		margin-top: 40px;
	} 
	/* adjust form */
	#form{
		width: 60% !important;
	}
	.form-group{ margin: 10px 0 30px 0; 
	}
	/*Description box */
	textarea{
		/* margin-left: -50px; */
		width: 100%;
		margin:auto;
	}
	#show-page{
		padding-right: 30px;
		
	}
	/* .container{
		padding: 0 15px 0 0;
	} */

}